.columnRow {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    min-height: 60px;
}

.avatarContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
   
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 15%
}

.txtMessage {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 5px;
    align-items: space-around;

}

.name {
    font-weight: bold;
    font-size: larger;
}
.messageContainer{
    max-width: 70vw;
    word-wrap: break-word ;
}

.time {
    font-size: x-small;
}